<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">

  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">{{'editPasswordComponent.headerTitle' | translate}}</h1>
    </div>
  </div>

  <div class="row" *ngIf="user">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="col-md-12">
            <form (submit)="onEditPasswordSubmit()">

              <div class="form-group">
                <label>{{'editPasswordComponent.oldPassword' | translate}}</label>
                <input type="password" [(ngModel)]="oldPassword" name="oldPassword" class="form-control">
              </div>

              <div class="form-group">
                <label>{{'editPasswordComponent.newPassword' | translate}}</label>
                <input type="password"  [(ngModel)]="newPassword" name="newPassword" class="form-control" >
              </div>

              <div class="form-group">
                <label>{{'editPasswordComponent.reTypePassword' | translate}}</label>
                <input type="password"  [(ngModel)]="retypenewPassword" name="retypenewPassword" class="form-control" >
              </div>

              <input type="submit" class="btn btn-primary" name="btnSubmit" value="{{'editPasswordComponent.btnSubmit' | translate}}">

              <input type="submit" class="btn btn-primary" value="{{'editPasswordComponent.btnBack' | translate}}" (click)="goBackMenu()">

            </form>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
