<div class="row">
  <div class="col-lg-12">
    <h2 class="my-4">Our Team</h2>
  </div>


  <div class="col-lg-4 col-sm-6 text-center mb-4">
    <img class="rounded-circle img-fluid d-block mx-auto" src="https://scontent-sin6-1.xx.fbcdn.net/v/t1.0-9/24991073_10209757480644375_8217305408794471674_n.jpg?_nc_cat=103&oh=b0f604575d5c2417ff8b60430a914c4b&oe=5C2788E2"
         width="200" height="200" alt="Rinanda">
    <h3>Rinanda Febriani
      <small>(Chief)</small>
    </h3>
    <p>Leader of this project and system / Responsible Person</p>
  </div>

  <div class="col-lg-4 col-sm-6 text-center mb-4">
    <img class="rounded-circle img-fluid d-block mx-auto" src="https://scontent-sin6-1.xx.fbcdn.net/v/t1.0-9/31143975_10215699962801878_1695293926115639296_n.jpg?_nc_cat=100&oh=51e8e18967dcd028d94d432fa9268fcc&oe=5C19F131"
         width="200" height="200" alt="Sutadi">
    <h3>Sutadi Triputra
      <small>(Mobile Developer)</small>
    </h3>
    <p>Develop android application</p>
  </div>

  <div class="col-lg-4 col-sm-6 text-center mb-4">
    <img class="rounded-circle img-fluid d-block mx-auto" src="https://scontent-sin6-1.xx.fbcdn.net/v/t1.0-9/17342566_10209135484170261_3866018496376830573_n.jpg?_nc_cat=105&oh=9538bc664507df18e63a37d574ec67db&oe=5C150ACC"
         width="200" height="200" alt="Fahmi">
    <h3>M. Fahmi Nurfadilah
      <small>(Hardware Engineer)</small>
    </h3>
    <p>Design and implemented hardware system</p>
  </div>

  <div class="col-lg-4 col-sm-6 text-center mb-4">
    <img class="rounded-circle img-fluid d-block mx-auto" src="https://scontent-sin6-1.xx.fbcdn.net/v/t1.0-9/31180039_1967446696646621_1062282842664337408_n.jpg?_nc_cat=107&oh=47d79fe25052dfe2c785dd1e6f59d314&oe=5C1E4C18"
         width="200" height="200" alt="Rifky">
    <h3>Rifky Wijaya
      <small>(Expert)</small>
    </h3>
    <p>Expert in computer science</p>
  </div>

  <div class="col-lg-4 col-sm-6 text-center mb-4">
    <img class="rounded-circle img-fluid d-block mx-auto" src="https://scontent-sin6-1.xx.fbcdn.net/v/t31.0-1/c0.0.1397.1397/s960x960/740952_4519187416748_385455564_o.jpg?_nc_cat=102&oh=14dd06d22a1db57f161588d97e23aa8b&oe=5C216C23"
         width="200" height="200" alt="Haffiyan">
    <h3>Hafiyyan Putra
      <small>(Font-End Developer)</small>
    </h3>
    <p>Design front side of application</p>
  </div>

  <div class="col-lg-4 col-sm-6 text-center mb-4">
    <img class="rounded-circle img-fluid d-block mx-auto" src="https://res.cloudinary.com/smartin-co-id/image/upload/v1527406924/Profile_Picture_Nurse/vihe1jpyyodtei2cj5g2.jpg"
         width="200" height="200" alt="Cakra">
    <h3>Cakra Adipura W
      <small>(Software Engineer)</small>
    </h3>
    <p>Design software and develop back-end system</p>
  </div>

  <div class="col-lg-4 col-sm-6 text-center mb-4">
    <img class="rounded-circle img-fluid d-block mx-auto" src="https://scontent-sin6-1.cdninstagram.com/vp/828c2c1826813d1f1a6352c0e008628d/5C321184/t51.2885-15/e35/26307863_515407482177159_3039429264526016512_n.jpg"
         width="200" height="200" alt="Nurman">
    <h3>Nurmaan Hariiyanto
      <small>(Font-End Developer)</small>
    </h3>
    <p>Design front side of application</p>
  </div>




</div>
